{% extends "base/layout.html" %}

{% block body %}
<div style="text-align: center">
    <p>
    <h1 style="width: 100%;text-align: center">Staff</h1>
    <table style="height: 50%; width: 100%; text-align: center;">
    <tr>
        <th style="width: 50%">Stourbridge</th>
        <th>Telford</th>
    </tr>
    <tr>
        <td>Alison</td>
        <td>Debbie</td>
    </tr>
    <tr>
        <td>Sarah</td>
        <td>Jo</td>
    </tr>
    <tr>
        <td>Sue</td>
        <td>Lauren</td>
    </tr>
    <tr>
        <td>&nbsp</td>
        <td>Paul</td>
    </tr>
</table>
    </p>
    <p><br><br><br><br>
        Our optician and owner, Alan, has been training for over 25 years.
        Our aim is to provide high-quality eye care, with a personal touch, at an affordable price.
    </p>
</div>
{% endblock %}