{% extends "base/layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <h1> This is an admin page </h1>
    <p><em>This is a page admins should be able to see this.</em></p>
    <p><a class="nav-link" href="{{ url_for('user_list') }}">User list</a></p>
    {% if current_user.role >= 3 %}
        <p><a href="{{ url_for("change_role" )}}">Change a user's role</a></p>
        <p><a href="{{ url_for("optom_dates") }}">Add where the optom will be</a></p>
    {% endif %}

{% endblock %}