{% extends "base/layout.html" %}
{% block head %}
    <script>
        $(document).ready(function() {
            var hour = new Date().getHours();
            var greeting = "";
            if (hour<12) {greeting = "Good morning {{ current_user.first_name}}";}
            else {greeting = "Good afternoon {{ current_user.first_name }}";}
            $("#introduction")[0].innerHTML = (greeting);
        });
    </script>
{% endblock %}

{% block body %}
    <div class="text-center">
        <div style="margin-right: 500px; margin-left: 500px">
            <h1  style="background-color: yellow;padding-bottom: 0.1em">Eyewise Opticians</h1>
        </div>
    </div>
    <h2 id="introduction"></h2>
    {% for post in posts %}
        <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
    {% endfor %}


{% endblock %}