{% extends "base/shop_item_base.html" %}
{% block head %}
    <style>
        .Price:before{content:"£"}
        .item_img{height: 120px; width: 240px; text-align: center}
        img {width: 100%; height: 100%}
    </style>
    <script>
        {#window.alert(text);#}

        function function1(stock_dic) {var e = document.getElementById("colour_selector");
        var text = e.options[e.selectedIndex].text;
        if (text == "Colours") {document.getElementById("colour_stock").innerHTML = "";}
        else {
        var stock = stock_dic[text];
        document.getElementById("colour_stock").innerHTML = stock;
        }}
    </script>
{% endblock %}

{% block shop_item_body %}
    <div class="text-center">
    <div  class="item_img">
    <p><img style="text-align: center" src={{ url_for("static", filename=shop_item.image) }} ></p>
        <br><br><br><br>
    </div>
    </div>
    <form action="../routes.py", method="post", id="add_to_cart">
    <table style="width: 10%";>
        <tr>
            <td>
                <select id="colour_selector" onchange="function1({{ stock_dic }})", style="font-size: 15px", >
                    <option value="Colours", selected="Colours">Colours</option>
                    {% for item in stock_dic%}
                        <option value="{{ item }}" id="colour_option">{{ item }}</option> {# item = key #}
                    {% endfor %}
                </select>
            </td>
            <td>
                <p id = "colour_stock" style="font-size: 15px"></p>
            </td>
        </tr>
    </table>
    <p class="Price">{{ shop_item.price }}</p>
    <p><button type="submit", value="add_to_cart">Add to cart</button></p>
    </form>
{% endblock %}