{% extends "base/shop_item_base.html" %}
{% block head %}
    <style>
        .Price:before{content:"£"}
        .item_img{height: 120px; width: 240px; text-align: center}
        img {width: 100%; height: 100%}
    </style>
    <script>
        {#window.alert(text);#}

        function function1(stock_dic) {var e = document.getElementById("colour_selector");
        var text = e.options[e.selectedIndex].text;
        if (text === "Colours") {document.getElementById("colour_stock").innerHTML = "";}
        else {
        document.getElementById("colour_stock").innerHTML = stock_dic[text];
        }}
    </script>
    <script>
        function foo() {
            {#$("#colour_selector").find('option').attr('selected',true);#}
            window.alert("hey");
            var value = document.getElementById("colour_selector").options[document.getElementById("colour_selector").selectedIndex].text;
            $.post("{{ url_for("user_cart", username=current_user.username) }}", {value:value, thingy:{{shop_item.id}}});
        }

    </script>
{% endblock %}

{% block shop_item_body %}
    <div class="text-center">
    <div  class="item_img">
    <p><img style="text-align: center" src={{ url_for("static", filename=shop_item.image) }} ></p>
        <br><br><br><br>
    </div>
    </div>
    <p class="Price">{{ shop_item.price }}</p>
    <table style="width: 10%";>
        <tr>
            <td>
                <form action="{{ url_for("user_cart", username=current_user.username) }}" method="post" id="add_to_cart">
                    <select id="colour_selector" onchange="function1({{ stock_dic }})" style="font-size: 15px" form="add_to_cart">
                    <option value="Colours" selected="Colours">Colours</option>
                    {% for item in stock_dic%}
                        <option value="{{ item }}" id="colour_option">{{ item }}</option> {# item = key #}
                    {% endfor %}
                    </select>
                    <p><input type="button" value="Add to cart" onclick="foo()"/></p>
{#                    <p><button type="submit" value="add_to_cart" onclick="on_clicker()">Add to cart</button></p>#}
                </form>
            </td>
            <td>

            <td>
                <p id = "colour_stock" style="font-size: 15px"></p>
            </td>
        </tr>
    </table>
{% endblock %}