{% extends "base/layout.html" %}

{% block body %}
    <table>
        <tr valign="top">
            <td><img src=""{{ user.avatar(64) }}></td>
            <td>
                <h1>User: {{ user.username }}</h1></td>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
        </tr>
        <tr>
            <td>
               {% if user.address %} <p> Address; {{ user.address1 }}, {{ user.address2 }}, {{ user.town_city }}, {{ user.postcode }}</p> {% endif %}
                {% if user.telephone_num %}<p> Telephone number: {{ user.telephone_num }}</p> {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include "base/_post.html" %}
    {% endfor %}
    {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile', username=current_user.username) }}">Edit your profile</a></p>
        <p><a href="{{ url_for("change_password", username=current_user.username) }}">Change Your Password</a> </p>
    {% endif %}
{% endblock %}