<nav class="navbar navbar-expand-md navbar-dark bg-transparent mb-0" class="sticky-bottom">
    <button id="myBtn">Need assistance?</button>

<!-- The Modal -->
    <div id="myModal" class="modal">

  <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modal-change">
            <p>This is where the AI will go</p>
            <p>List of links (question will be link text) to help pages</p>
            <button type="button" id="trialquest">Open the HTML</button>
            </div>
        </div>

    </div>
    </nav>