<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-0">
    <a class="navbar-brand" href="#"><strong>Eyewise Opticians</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="{{ url_for('contact') }}">Contact us</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('make_appointment') }}">Make an appointment</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("shop_main", shop_filter="All") }}">Shop</a>
            </li>

            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login/Register</a>
                </li>
            {% else %}

                {% if current_user.role != 0 %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_missed') }}">Add Missed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_mon') }}">Add spent</a>
                </li>
            {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            {% endif %}

        </ul>
      </div>
    </nav>
{# This is the nav bar that provides links to  #}