<nav class="navbar navbar-expand-md navbar-light bg-warning mb-4" style="padding-bottom:0;padding-top:0;font-size:15px">
    <a class="navbar-brand" href="{{ url_for('shop_main', shop_filter="None") }}"><strong>Shop</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('shop_main', shop_filter="None") }}">Shop</a>
            </li>
            {% if not current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_cart', username=current_user.username) }}">Cart</a>
            </li>
            {% endif %}
        </ul>
      </div>
    </nav>